*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*Página contato*/

.body_pagina_contato{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #1d1d2e;
    flex-direction: column;
}

.h1_pagina_contato{
    font-size: 45px;
    color: white;
    margin-bottom: 30px;
}

.a_pagina_contato{
    padding: 20px 65px;
    background-color: white;
    text-decoration: none;
    color: #1d1d2e;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.5s;
}

.a_pagina_contato:hover{
    border-radius: 20px;
}

/*Media quarys*/

@media (max-width: 600px){
    .h1_pagina_contato{
        text-align: center;
        font-size: 35px;
        color: white;
        margin-bottom: 30px;
    }
}

@media (max-width: 500px){
    .h1_pagina_contato{
        text-align: center;
        font-size: 30px;
        color: white;
        margin-bottom: 30px;
    }
}

@media (max-width: 400px){
    .h1_pagina_contato{
        text-align: center;
        font-size: 30px;
        color: white;
        margin-bottom: 30px;
    }
}







